body {
  font-family: sans-serif;
}

#hint {
  font-size: 10px;
  margin: 5px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

#sources {
  flex-grow: 1;
  margin: 5px;  
}

#picCanvas {
  flex-grow: 1;
  text-align: center;
}

#predictionsContainer {
  margin: 5px;
  flex-grow: 0;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background: black;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 3px;
  right: 5px;
  top: 5px;
  z-index: 1;
  font-weight: bold;
  font-size: 14px;
}

#predictions {
  font-size: 10px;
}