body {
  padding: 10px;
  font-size: 10px;
  font-family: sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#sources {
  margin: 5px;  
}

#snapButton { 
  width: 480px;
  margin: 5px;
  padding: 5px;
  background-color: lightgrey;
  border-style: solid;
  border-color: darkgray;
  border-radius: 3px;
  border-width: 1px;
  align-content: center;
  text-align: center;
}

#picCanvas {
  margin: 5px;
}